body{
    background-color: #cef8e9;
    overflow-y: hidden;
}


.back{
    width: 50px;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 4vh;
}

#back{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projects{
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    display: flex;
}

.project-1{
    /* width:90%; */
    margin-left: 4.5vw;
    margin-top: -4.1vh;
}

#project-1-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
    margin-left: 27vw;
}

.project-1-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
} 

.hire-me{
    width: 500px;
    height: 350px;
    margin-top: 2vh;
    margin-left: 1vw;
}

#hire-me{
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.r , .r:link , .r:visited , .r:active {
    color: #BEA2C2;
    text-decoration: dashed;
}

.l , .l:link , .l:visited ,.l:active{
    color: #BEA2C2;
    text-decoration: dashed;
}

.e , .e:link , .e:visited , .e:active{
    color: #BEA2C2;
    text-decoration: dashed;
}

.e:hover{
    color: #330036;
    background-color: #BEA2C2;
}  

.l:hover{
    color: #330036;
    background-color: #BEA2C2;
} 

.r:hover{
    color: #330036;
    background-color: #BEA2C2;
} 

/* .project-2{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-2-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-2-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}

.project-3{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-3-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-3-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}
.project-4{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-4-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-4-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}

.project-5{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-5-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-5-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
} */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
/* and (orientation: portrait)   */
{
	body{
        background-color: #cef8e9;
        overflow-y: hidden;
    }
    
    .back{
        width: 50px;
        height: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 4vh;
    }
    
    #back{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .projects{
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: flex;
    }
    
    .project-1{
        /* width:90%; */
        margin-left: 6.5vw;
        margin-top: -3.5vh;
    }
    
    #project-1-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-1-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }                  
    
    /* .project-2{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-2-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-2-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-3{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-3-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-3-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    .project-4{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-4-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-4-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-5{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-5-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-5-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    } */
    .r , .r:link , .r:visited , .r:active {
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .l , .l:link , .l:visited ,.l:active{
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .e , .e:link , .e:visited , .e:active{
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .e:hover{
        color: #330036;
        background-color: #BEA2C2;
    }  
    
    .l:hover{
        color: #330036;
        background-color: #BEA2C2;
    } 
    
    .r:hover{
        color: #330036;
        background-color: #BEA2C2;
    } 	

}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) {
	body{
        background-color: #cef8e9;
        overflow-y: hidden;
    }
    
    .back{
        width: 60px;
        height: 60px;
        position: -webkit-sticky;
        position: sticky;
        top: 5.5vh;
        left: 2vw;
    }
    
    #back{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .projects{
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: flex;
    }
    
    .project-1{
        /* width:90%; */
        margin-left: 4vw;
        margin-top: 1vh;
    }
    
    #project-1-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
        margin-left: 5vw;
    }
    
    .project-1-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 84vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }  
    
    .r , .r:link , .r:visited , .r:active {
        color: #BEA2C2;
        text-decoration: dashed;
        font-size: 3vw;

    }
    
    .l , .l:link , .l:visited ,.l:active{
        color: #BEA2C2;
        font-size: 3vw;
        text-decoration: dashed;
    }
    
    .e , .e:link , .e:visited , .e:active{
        color: #BEA2C2;
        font-size: 3vw;
        text-decoration: dashed;
    }
    
    .e:hover{
        color: #330036;
        font-size: 3vw;
        background-color: #BEA2C2;
    }  
    
    .l:hover{
        color: #330036;
        font-size: 3vw;
        background-color: #BEA2C2;
    } 
    
    .r:hover{
        color: #330036;
        font-size: 3vw;
        background-color: #BEA2C2;
    } 
    
    /* .project-2{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-2-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-2-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-3{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-3-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-3-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    .project-4{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-4-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-4-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-5{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-5-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-5-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    } */
		}

@media only screen and (min-width: 1690px) {
    body{
        background-color: #cef8e9;
        overflow-y: hidden;
    }
    
    a , a:link , a:active , a:hover , a:visited {
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .back{
        width: 50px;
        height: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 4vh;
    }
    
    #back{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .projects{
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: flex;
    }
    
    .project-1{
        /* width:90%; */
        margin-left: 4.5vw;
        margin-top: -4.1vh;
    }
    
    #project-1-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
        margin-left: 27vw;
    }
    
    .project-1-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        height:1000px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }   
    
    .r , .r:link , .r:visited , .r:active {
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .l , .l:link , .l:visited ,.l:active{
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .e , .e:link , .e:visited , .e:active{
        color: #BEA2C2;
        text-decoration: dashed;
    }
    
    .e:hover{
        color: #330036;
        background-color: #BEA2C2;
    }  
    
    .l:hover{
        color: #330036;
        background-color: #BEA2C2;
    } 
    
    .r:hover{
        color: #330036;
        background-color: #BEA2C2;
    } 
    
}

/* media queries!!!!! */