body{
    background-color: #FFF3DA;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}
.back{
    background-image: url("arrow back.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width: 3vw;
    height: 3vw;
    position: fixed;
    top: 2vh;
    left: 1vw;
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;

}

.email , .email:link , .email:visited , .email:active{
    display: flex;
    color: #FFF3DA;
    text-decoration: dashed;
    font-size: 1.25vw;
    margin-left: 3vw;
    margin-top: 1vh;
    z-index: 1;
}

.e:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    font-size: 1.25vw;
    width: 10%;
    z-index: 1;
    /* margin-left:2vw; */
    /* margin-left: 2vw;
    margin-right: 2vw; */
}
.email:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    font-size: 1.25vw;
    width: 10%;
    /* margin-left: 2vw;
    margin-right: 2vw; */
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
    z-index: 1;
}
.linkedin , .linkedin:link , .linkedin:visited , .linkedin:active{
    display: flex;
    color: #FFF3DA;
    text-decoration: dashed;
    font-size: 1.25vw;
    padding-left: 30vw;
    margin-right: 2vw;
    /* width: 10%; */
    margin-top: -3vh;
    z-index: .7;
}

.l:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    font-size: 1.25vw;
    width: 40%;
    z-index: .7;
    /* margin-left:20vw; */
    /* margin-left: 2vw;
    margin-right: 2vw; */
}
.linkedin:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    width: 10%;
    /* font-size: 1.25vw;
    margin-left: 2vw; */
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
    z-index: .7;
}

.about , .about:link , .about:visited , .about:active{
    display: flex;
    color: #FFF3DA;
    text-decoration: dashed;
    font-size: 1.25vw;
    padding-left: 60vw;
    margin-right: 2vw;
    /* width: 10%; */
    margin-top: -3vh;
    z-index: .5;
}

.a:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    font-size: 1.25vw;
    width: 70%;
    z-index: .5;
    /* margin-left:20vw; */
    /* margin-left: 2vw;
    margin-right: 2vw; */
}

.about:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    width: 10%;
    /* font-size: 1.25vw;
    margin-left: 2vw; */
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
    z-index: .5;
}

.home , .home:link , .home:visited , .home:active{
    display: flex;
    color: #FFF3DA;
    text-decoration: dashed;
    font-size: 1.25vw;
    padding-left: 90vw;
    margin-right: 2vw;
    /* width: 10%; */
    margin-top: -2.75vh;
    z-index: .3;
}

.h:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    font-size: 1.25vw;
    width: 90%;
    z-index: .3;
    /* margin-left:20vw; */
    /* margin-left: 2vw;
    margin-right: 2vw; */
}

.home:hover{
    color: #1f0e20;
    background-color: #FFF3DA;
    width: 10%;
    /* font-size: 1.25vw;
    margin-left: 2vw; */
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
    z-index: .3;
}

.copy{
    color:  #270029;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
    font-size: 1.5vw;
}
.subtitle{
    color:  #270029;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
    font-size: 2.5vw;
}
.line{
    border-bottom: .5vh solid;
    border-color:  #270029;
    margin-left: 1vw;
    margin-right: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width:100%;
    height: 5vh;
    background-color: #270029;
}

.sprout{
    background-image: url("Comp\ 1_2.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:80vh;
    
}

.sprout-2{
    background-image: url("sprout-1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:100vh;
    margin-left: 0vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.sprout-3{
    background-image: url("sprout-2.png");
    background-repeat: no-repeat;
    background-size: 180% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:35%;
    height: 70vh;
    margin-left: 6vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.sprout-4{
    background-image: url("s2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% , 100%; */
    background-position-x: center;
    background-position-y: center;
    width:35%;
    height:100vh;
    margin-left: 4.5vw;
    margin-top: 1.5vh;
}

.sprout-5{
    background-image: url("sprout-17.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-6{
    background-image: url("sprout-6.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:60vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-7{
    background-image: url("sprou-23.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:60vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-8{
    background-image: url("sprou-17.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1.5vh;
    margin-left: 5vw;
    border-radius: 1vh;
}

.sprout-9{
    background-image: url("sprout-18.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-10{
    background-image: url("sprout-20.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-11{
    background-image: url("sprout-19.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1.5vh;
    margin-left: 5vw;
    border-radius: 1vh;
}

.sprout-12{
    background-image: url("sprout-21.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-13{
    background-image: url("sprout-brand.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:70vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-14{
    background-image: url("sprout-assets.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-15{
    background-image: url("sprout-moodboard.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-16{
    background-image: url("sprout-goals.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:50vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
#asset{
    margin-left:37vw;
    margin-top: 5vh;
}

#goals{
    margin-left:30vw;
    margin-top: 5vh;
}
#moodboard{
    margin-top: 5vh;
}

#style{
    margin-top: 5vh;
}
.wtw{
    background-image: url("wtw-1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:100vh;
    margin-top: 1.5vh;
}

.wtw-2{
    background-image: url("wtw-2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width:90;
    height:100vh;
    margin-left: 1vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.wtw-3{
    background-image: url("wtw-19.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:90vh;
    margin-top: 1.5vh;
    margin-left: 35vw;
    border-radius: 1vh;
}

.wtw-4{
    background-image: url("wtw-5.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height: 70vh;
    margin-top: 1.5vh;
    margin-left: 10vw;
    border-radius: 1vh;
}

.wtw-5{
    background-image: url("wtw-6.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:80vh;
    margin-top: 1.5vh;
    margin-left: 10vw;
    border-radius: 1vh;
}

.wtw-6{
    /* background-image: url("wtw-v1.png"); */
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:80vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wtw-7{
    background-image: url("wtw-v1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:60%;
    height:50vh;
    margin-top: 5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wtw-8{
    background-image: url("wtw-v2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:40%;
    height:50vh;
    margin-top: 5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wtw-9{
    background-image: url("wtw-3.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
.wtw-10{
    background-image: url("wtw-4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.diary{
    background-image: url("8.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:115vh;
    margin-top: 1.5vh;
}

.diary-2{
    background-image: url("7.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:115vh;
    margin-top: 1.5vh;
}

.diary-3{
    background-image: url("9.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:115vh;
    margin-top: 1.5vh;
}
.gd-1{
    background-image: url("gd-v1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:57vh;
    margin-top: 1.5vh;
    margin-left: 10vw;
    border-radius: 1vh;
}
.gd-2{
    background-image: url("gd-v2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:57vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}
.nwt-1{
    background-image: url("nwt-v1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    border-radius: 1vh;
    height:35vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
}
.nwt-2{
    background-image: url("nwt-v2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:35vh;
    border-radius: 1vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
}
.rd-1{
    background-image: url("rd-v1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:57vh;
    border-radius: 1vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
}
.rd-2{
    background-image: url("rd-v2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:57vh;
    border-radius: 1vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
}

.gg{
    background-image: url("gg-1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:90vh;
    margin-top: 1.5vh;
}

.gg-2{
    background-image: url("gg-4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:70vh;
    margin-left: 13vw;
    margin-top: 1.5vh;
}

.gg-3{
    background-image: url("gg-2.png");
    background-repeat: no-repeat;
    background-size: 180% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:80vh;
    margin-left: 25vw;
    margin-top: 1.5vh;
}

.gg-4{
    background-image: url("gg-3.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:120vh;
    margin-top: 1.5vh;
}

/* .gg-5{
    background-image: url("gg-all.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:120vh;
    margin-top: 1.5vh;
} */

.gg-6{
    background-image: url("gg-all.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:120vh;
    margin-top: 1.5vh;
}

.gg-7{
    background-image: url("gg-v1.png");
    background-repeat: no-repeat;
    background-size: 140% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:40vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.gg-8{
    background-image: url("gg-v2.png");
    background-repeat: no-repeat;
    background-size: 140% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:40vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.gg-9{
    background-image: url("gg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.gg-10{
    background-image: url("gg-desktop2.jpg");
    background-repeat: no-repeat;
    background-size: 120% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:50vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
}
.wmf{
    background-image: url("wmf-4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:115vh;
    margin-top: 1.5vh;
}

.wmf-2{
    background-image: url("wmf-1.png");
    background-repeat: no-repeat;
    background-size: 150% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:80vh;
    margin-left: 15vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.wmf-3{
    background-image: url("wmf-5.png");
    background-repeat: no-repeat;
    background-size: 120% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:90%;
    height: 75vh;
    margin-top: 1.5vh;
    margin-left: 3vw;
    border-radius: 1vh;
}

.wmf-4{
    background-image: url("wmf-v1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:35%;
    height: 60vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wmf-5{
    background-image: url("wmf-v5.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:60%;
    height: 60vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wmf-6{
    background-image: url("wmf-v3.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height: 50vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wmf-7{
    background-image: url("wmf-v6.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height: 50vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.wmf-8{
    background-image: url("wmf-v4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height: 50vh;
    margin-top: 5vh;
    margin-left: 1vw;
    border-radius: 1vh;
}


#v1{
    margin-top: 3vh;
}
#v2{
    margin-top: 3vh;
    margin-left: 45vh;
}
#v3{
    margin-top: 3vh;
}
#v4{
    margin-top: 3vh;
    margin-left: 70vh;
}
#v5{
    margin-top: 3vh;
}

.jo{
    background-image: url("jo-2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height: 110vh;
    margin-top: 1.5vh;
    /* border-radius: 1vh; */
}

.jo-2{
    background-image: url("jo-6.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:60%;
    height: 70vh;
    margin-left: 20vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.jo-3{
    background-image: url("jo-1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:95%;
    height: 110vh;
    margin-top: 1.5vh;
    margin-left: 2.5vw;
    border-radius: 1vh;
}
.flex{
    display: flex;
}
.type{
    background-image: url("type1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:80vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.type-2{
    background-image: url("type-4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:60vh;
    margin-top: 1.5vh;
}

.type-3{
    background-image: url("type-2.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:60vh;
    margin-left: 4vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
}

.type-4{
    background-image: url("type-3.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:60vh;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
}

.type-5{
    background-image: url("shamail-type.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:95vh;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
}

.mean{
    background-image: url("poster-1.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:105%;
    height:100vh;
    margin-top: 1.5vh;
    margin-left: -1vw;
}

.mean-2{
    background-image: url("posters-2.png");
    background-repeat: no-repeat;
    background-size: 150% , 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width:80%;
    height:100vh;
    margin-top: 1.5vh;
    margin-left: 8vw;
    border-radius: 1vh;
}
.mean-3{
    background-image: url("posters.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width:70%;
    height:80vh;
    margin-top: 1.5vh;
    margin-left: 15vw;
    border-radius: 1vh;
}