body{
    background-color: #ebeae7;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}
/* .button{
    background-color: #FFF3DA;
    width: 4vw;
    height: 4vw;
} */
@keyframes wavly {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
.back{
    background-image: url("arrow back.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width: 3vw;
    height: 3vw;
    position: fixed;
    top: 2vh;
    left: 1vw;
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
    
}

.email , .email:link , .email:visited , .email:active{
    color: #ebeae7;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 7vw;
    margin-right: 2vw;
}


.email:hover{
     /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}

.linkedin , .linkedin:link , .linkedin:visited , .linkedin:active{
    color: #ebeae7;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 20vw;
    margin-right: 2vw;
}
.linkedin:hover{
    /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}
.about , .about:link , .about:visited , .about:active{
    color: #ebeae7;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 20vw;
    margin-right: 2vw;
}
.about:hover{
     /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}
.home , .home:link , .home:visited , .home:active{
    color: #ebeae7;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 20vw;
    margin-right: 2vw;
}
.home:hover{
    /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}


.copy1{
    color:  #a70000;
    margin-left: 38vw;
    margin-right: 15vw;
    margin-top: -1vh;
    padding-bottom: 1.5vh;
    font-size: 1.25vw;
}
.copy{
    color:  #a70000;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 1vh;
    font-size: 1.25vw;
}
.subtitle{
    color:  #a70000;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
    font-size: 2.5vw;
}
.line{
    border-bottom: .5vh solid;
    border-color:  #a70000;
    margin-left: 1vw;
    margin-right: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width:100%;
    height: 4vh;
    background-color: #a70000;
}
.line2{
    border-bottom: .5vh solid;
    border-color:  #a70000;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
#text1 , #text1:visited , #text1:active , #text1:link{
    margin-left: 3vw;
    margin-right: 3vw;
    text-decoration: none;
    margin-top: 2.5vh;
    color:#a70000;
    width: 55%;
    height:auto;
    font-size: 1.5vw;
}
#text1:hover{
    margin-left: 3vw;
    margin-right: 3vw;
    text-decoration: underline;
    margin-top: 2.5vh;
    color:#a70000;
    width: 55%;
    height:auto;
    font-size: 1.5vw;
}
#text2{
    margin-left: 3vw;
    margin-right: 10vw;
    margin-top: 2.5vh;
    color:#a70000;
    width: 20%;
    height:auto;
    font-size: 1vw;
}
#text3 , #text3:visited , #text3:active , #text3:link{
    margin-right: 10vw;
    margin-top: 2.5vh;
    color:#a70000;
    width: 20%;
    height:auto;
    font-size: 1vw;
    text-decoration: none;
}
#text3:hover{
    margin-right: 10vw;
    margin-top: 2.5vh;
    color:#a70000;
    width: 20%;
    height:auto;
    font-size: 1vw;
    text-decoration: underline;
}
#text6{
    margin-left:30vw;
}
#asset{
    margin-left:37vw;
    margin-top: 5vh;
}

#goals{
    margin-left:30vw;
    margin-top: 3vh;
}
#interview{
    margin-left:40vw;
    margin-top: 3vh;
}

#sitemap{
    margin-left:15vw;
    margin-top: 3vh;
}
#moodboard{
    margin-top: 3vh;
}

#style{
    margin-top: 5vh;
}



#v1{
    margin-top: 3vh;
}
#v2{
    margin-top: 3vh;
    margin-left: 45vh;
}
#v3{
    margin-top: 3vh;
}
#v4{
    margin-top: 3vh;
    margin-left: 70vh;
}
#v5{
    margin-top: 3vh;
}


.flex{
    display: flex;
}
.type{
    background-image: url("type1.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:80%;
    height:80vh;
    margin-left: 10vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

.type-2{
    background-image: url("type-4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width:auto;
    height:60vh;
    margin-top: 1.5vh;
}
.type2{
    background-image: url("type-4.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:60vh;
    margin-top: 1.5vh;
    margin-left: 10vw;
}

.type-3{
    background-image: url("type-2.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:60vh;
    margin-left: 4vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
}

.type-4{
    background-image: url("type-3.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:60vh;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
}

.type-5{
    background-image: url("shamail-type.gif");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:100vh;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
}

