body{
    background-color: #d5edd4;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}
/* .button{
    background-color: #FFF3DA;
    width: 4vw;
    height: 4vw;
} */
@keyframes wavly {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  .eva--arrow-back-fill {
    position: fixed;
    width: 4vw;
    height: 4vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23371c08' d='M19 11H7.14l3.63-4.36a1 1 0 1 0-1.54-1.28l-5 6a1 1 0 0 0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4 12a1 1 0 0 0 .07.36c0 .05 0 .08.07.13a1 1 0 0 0 .09.15l5 6A1 1 0 0 0 10 19a1 1 0 0 0 .64-.23a1 1 0 0 0 .13-1.41L7.14 13H19a1 1 0 0 0 0-2'/%3E%3C/svg%3E");
  }
.email , .email:link , .email:visited , .email:active{
    color: #d5edd4;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 7vw;
    margin-right: 2vw;
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
}


.email:hover{
     /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}

.linkedin , .linkedin:link , .linkedin:visited , .linkedin:active{
    color: #d5edd4;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 20vw;
    margin-right: 2vw;
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
}
.linkedin:hover{
    /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}
.about , .about:link , .about:visited , .about:active{
    color: #d5edd4;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 20vw;
    margin-right: 2vw;
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
}
.about:hover{
     /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}
.home , .home:link , .home:visited , .home:active{
    color: #d5edd4;
    text-decoration: none;
    font-size: 1.25vw;
    margin-left: 20vw;
    margin-right: 2vw;
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
}
.home:hover{
    /* color: #1f0e20;
    background-color: #FFF3DA; */
    font-size: 1.25vw;
    text-decoration: underline;
    /* margin-left: 2vw; */
    /* -webkit-text-stroke: .07vw #BEA2C2;
    text-shadow: 0px .07vw .1vw #b974c2; */
    animation: wavly 1s infinite;
  animation-delay: calc(.1s * var(--i));
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1029.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1029.gif), auto !important;
}

.copy1{
    color:  #371c08;
    margin-left: 38vw;
    margin-right: 15vw;
    margin-top: -1vh;
    padding-bottom: 1.5vh;
    font-size: 1.25vw;
}

.copy{
    color:  #371c08;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 1vh;
    font-size: 1.25vw;
}

.subtitle{
    color:  #371c08;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
    font-size: 2.5vw;
}
.line{
    border-bottom: .5vh solid;
    border-color:  #371c08;
    margin-left: 1vw;
    margin-right: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width:100%;
    height: 4vh;
    background-color: #371c08;
}
.line2{
    border-bottom: .5vh solid;
    border-color:  #371c08;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
#text1 , #text1:visited , #text1:active , #text1:link{
    margin-left: 3vw;
    margin-right: 30vw;
    margin-top: 2.5vh;
    color:#371c08;
    width: 55%;
    height:auto;
    font-size: 1.5vw;
}
#text2{
    margin-left: 3vw;
    margin-right: 10vw;
    margin-top: 2.5vh;
    color:#371c08;
    width: 10%;
    height:auto;
    font-size: 1.5vw;
}
#text4{
    margin-left: 3vw;
    margin-right: 15vw;
    margin-top: 2.5vh;
    color:#371c08;
    width: 10%;
    height:auto;
    font-size: 1.5vw;
}
#text3{
    margin-left: 3vw;
    margin-right: 13vw;
    margin-top: 2.5vh;
    color:#371c08;
    width: 10%;
    height:auto;
    font-size: 1.5vw;
}
#text5{
    margin-left: 3vw;
    margin-right: 30vw;
    margin-top: 2.5vh;
    color:#371c08;
    width: 10%;
    height:auto;
    font-size: 1.5vw;
}
.sprout{
    background-image: url("sprout-brand.webp");
    background-repeat: no-repeat;
    background-size: 105% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:68vh;
    /* margin-top: ; */
    
}

.sprout-2{
    background-image: url("sprout-1.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:100vh;
    margin-left: 0vw;
    margin-top: 3vh;
    border-radius: 1vh;
}

.sprout-3{
    background-image: url("sprout-2.webp");
    background-repeat: no-repeat;
    background-size: 200% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:35%;
    height: 80vh;
    margin-left: 3vw;
    margin-top: 1vh;
    border-radius: 1vh;
}

.sprout-4{
    background-image: url("sp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% , 100%; */
    background-position-x: center;
    background-position-y: center;
    width:25%;
    height: 90vh;
    margin-left: 20vw;
    margin-top: 3vh;
}

.sprout-17{
    background-image: url("sprout-stationary.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:65%;
    height: 80vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
    border-radius: 1vh;
}

.sprout-18{
    background-image: url("sprout-box.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% , 100%; */
    background-position-x: center;
    background-position-y: center;
    width:35%;
    height: 80vh;
    margin-left: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 1vh;
}

.sprout-5{
    background-image: url("sprout-17.webp");
    background-repeat: no-repeat;
    background-size: 90% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:67vh;
    margin-top: 0vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-6{
    background-image: url("sprout-6.webp");
    background-repeat: no-repeat;
    background-size: 90% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:70vh;
    margin-top: 1vh;
    margin-left: 2vw;
    border-radius: 1vh;
}

.sprout-7{
    background-image: url("sprou-23.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:70vh;
    margin-top: 1vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-8{
    background-image: url("sprou-17.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 3vh;
    margin-left: 5vw;
    border-radius: 1vh;
}

.sprout-9{
    background-image: url("sprout-18.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-10{
    background-image: url("sprout-20.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-11{
    background-image: url("sprout-19.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1vh;
    margin-left: 5vw;
    border-radius: 1vh;
}

.sprout-12{
    background-image: url("sprout-21.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:30%;
    height:25vh;
    margin-top: 1vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
.sprout-ca{
    background-image: url("sprout-9.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:75%;
    height:60vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
.sprout-box{
    background-image: url("sprout-box.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:75%;
    height:60vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
.sprout-card{
    background-image: url("sprout-stationary.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:75%;
    height:60vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
.sprout-brand{
    background-image: url("sprout-brand.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:98%;
    height:60vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
/* .sprout-13{
    background-image: url("sprout-brand.png");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:100%;
    height:70vh;
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 1vh;
} */

.sprout-14{
    background-image: url("sprout-assets.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:75vh;
    margin-top: 0vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-15{
    background-image: url("sprout-moodboard.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:50%;
    height:80vh;
    margin-top: 0vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.sprout-16{
    background-image: url("sprout-goals.webp");
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-position-x: center;
    background-position-y: center;
    width:70%;
    height:60vh;
    margin-top: 0vh;
    margin-left: 1vw;
    border-radius: 1vh;
}
#asset{
    margin-left:37vw;
    margin-top: 5vh;
}

#goals{
    margin-left:30vw;
    margin-top: 3vh;
}
#interview{
    margin-left:40vw;
    margin-top: 3vh;
}

#sitemap{
    margin-left:15vw;
    margin-top: 3vh;
}
#moodboard{
    margin-top: 3vh;
}

#style{
    margin-top: 5vh;
}

.flex{
    display: flex;
}
