body{
    background-color: #FFF3DA;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* pervious colors used:
dark purple:330036
light blue:B9F0E9
light purple:BEA2C2*/
.intro{
    font-family: 'Hammersmith One', sans-serif;
    color: #270029;
}

.welcome{
    font-size: 10vw;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    margin-left: 3.5vw;
    margin-right: 5vw;
    margin-top: 23vh;
    /* height: 25%;
    width: 25%; 
    left: 50;
    top: 50;
     position: absolute; */
}

#w {
    transform: rotate(-40deg);
    /* color: #FFA0AC; */
    }
#e {
    transform: rotate(30deg);
    /* color: #506C64; */
    }
#l {
    transform: rotate(-47deg);
    /* color: #FFA0AC; */
    }
#c {
    transform: rotate(20deg);
    /* color: #506C64; */
    }
#o {
    transform: rotate(-33deg);
    /* color: #FFA0AC; */
    }
#m {
    transform: rotate(43deg);
    /* color: #506C64; */
    }
#e2 {
    transform: rotate(-38deg);
    /* color: #FFA0AC; */
    }

#to{
    font-size: 2vw;
    margin-left: 50vw;
    color: #270029;

}

#sham{
    font-size: 6.5vw;
    margin-left: 18vw;
    color: #270029;
}

#w{
    animation-name: dance-w;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#e{
    animation-name: dance-e;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#l{
    animation-name: dance-l;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#c{
    animation-name: dance-c;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#o{
    animation-name: dance-o;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#m{
    animation-name: dance-m;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#e2{
    animation-name: dance-e2;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

@keyframes dance-w {
    0% {transform: rotate(-40deg);}
    50% {transform: rotate(40deg);}
    100% {transform: rotate(-40deg);}
}

@keyframes dance-e {
    0% {transform: rotate(30deg);}
    50% {transform: rotate(-30deg);}
    100% {transform: rotate(30deg);}
}

@keyframes dance-l {
    0% {transform: rotate(-47deg);}
    50% {transform: rotate(47deg);}
    100% {transform: rotate(-47deg);}
}

@keyframes dance-c {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}

@keyframes dance-o {
    0% {transform: rotate(-37deg);}
    50% {transform: rotate(37deg);}
    10% {transform: rotate(-37deg);}
}

@keyframes dance-m {
    0% {transform: rotate(43deg);}
    50% {transform: rotate(-43deg);}
    100% {transform: rotate(43deg);}
}

@keyframes dance-e2 {
    0% {transform: rotate(-38deg);}
    50% {transform: rotate(38deg);}
    100% {transform: rotate(-38deg);}
}


/* I AM REDOING!!!! LOOK AT SKETCH IN NOTEBOOK!!! */
 .sections{
    width: 55vh;
    height: 27vw;
    font-size: 2vw;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    display: none;
    color:  #BEA2C2;
    margin-left: 20vw;
    margin-top: 24vh;
    background-color: #270029;
    text-align: center;
    border-radius: 5vh;
    filter: drop-shadow(2px 2px 6px rgb(146, 144, 144));
    
}

.interactive , .interactive:active , .interactive:link , .interactive:visited{
    font-size: 1.9vw;
    font-weight: 100;
    /* width: 17vw;
    height: 6vh; */
    text-align: center;
    /* margin-left: 3.5vw; */
    margin-top: 2.7vh;
    color:  #BEA2C2;
    /* background-color: green; */
    text-decoration: none;
    /* margin-top: 15vh;
    margin-left: 2vw; */
    /* z-index: 0;  */
}

/* #title{
    margin-top: 5vh;
} */


.toys , .toys:link , .toys:visited , .toys:active {
    font-size: 1.9vw;
    font-weight: 100;
    margin-top: .5vw;
    text-decoration: none;
    /* width: 17vw;
    height: 6vh; */
    /* background-color: green; */
    color:  #BEA2C2;
    /* margin-top: 22vh;
    margin-left: 35vw; */
    text-align: center;
}

.editorial , .editorial:link , .editorial:visited , .editorial:active {
    font-size: 1.9vw;
    font-weight: 100;
    margin-top: .5vw;
    text-decoration: none;
    /* width: 17vw;
    height: 6vh; */
    /* margin-left: 1.5vw; */
    /* background-color: green; */
    color:  #BEA2C2;
    /* margin-top: 22vh;
    margin-left: 15vw; */
    text-align: center;
}

.about , .about:link , .about:visited , .about:active{
    font-size: 1.9vw;
    font-weight: 100;
    margin-top: .5vw;
    text-decoration: none;
    /* width: 17vw;
    height: 6vh; */
    /* margin-left: 1vw; */
    /* background-color: green; */
    color:  #BEA2C2;
    /* margin-top: 10vh;
    margin-left: 70vw; */
    text-align: center;
}

/*.wm{
    background-color: aquamarine;
    width: 10vh;
    height: 10vw;
    visibility: hidden;
    cef8e9
} */


.interactive:hover{
    color: #270029;
    background-color: #BEA2C2;
}

.toys:hover{
    color: #270029;
    background-color: #BEA2C2;
}

.editorial:hover {
    color: #270029;
    background-color: #BEA2C2;
}

.about:hover {
    color: #270029;
    background-color: #BEA2C2;
}

.box{
    width: 55vh;
    height: 27vw;
    display: none;
    margin-left: 36vw;
    margin-top: -36.5vh;
    background-color: #270029;
    border-radius: 5vh;
    /* filter: drop-shadow(2px 2px 6px rgb(146, 144, 144)); */
}

.photo{
    position: absolute;
    width: 50vh;
    height: 26vw;
    display: none; 
    margin-left: 1.5vw;
    margin-top: 0.7vh;
    /* background-color: #BEA2C2; */
    /* border-radius: 5vh; */
}

#photo-1{
    width: 100%;
    height: 100%;
    /* border-radius: 5vh; */
    object-fit: contain;
    /* border-radius: 75px; */
}

.box:hover{
    background-color: #BEA2C2;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) {
    body{
        background-color: #FFF3DA;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    /* pervious colors used:
    dark purple:330036
    light blue:B9F0E9
    light purple:BEA2C2*/
    .intro{
        font-family: 'Hammersmith One', sans-serif;
        color: #270029;
    }
    
    .welcome{
        font-size: 10vw;
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        margin-left: 3.5vw;
        margin-right: 5vw;
        margin-top: 23vh;
        /* height: 25%;
        width: 25%; 
        left: 50;
        top: 50;
         position: absolute; */
    }
    
    #w {
        transform: rotate(-40deg);
        /* color: #FFA0AC; */
        }
    #e {
        transform: rotate(30deg);
        /* color: #506C64; */
        }
    #l {
        transform: rotate(-47deg);
        /* color: #FFA0AC; */
        }
    #c {
        transform: rotate(20deg);
        /* color: #506C64; */
        }
    #o {
        transform: rotate(-33deg);
        /* color: #FFA0AC; */
        }
    #m {
        transform: rotate(43deg);
        /* color: #506C64; */
        }
    #e2 {
        transform: rotate(-38deg);
        /* color: #FFA0AC; */
        }
    
    #to{
        font-size: 2vw;
        margin-left: 50vw;
        color: #270029;
    
    }
    
    #sham{
        font-size: 6.5vw;
        margin-left: 18vw;
        color: #270029;
    }
    
    #w{
        animation-name: dance-w;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #e{
        animation-name: dance-e;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #l{
        animation-name: dance-l;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #c{
        animation-name: dance-c;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #o{
        animation-name: dance-o;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #m{
        animation-name: dance-m;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #e2{
        animation-name: dance-e2;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    @keyframes dance-w {
        0% {transform: rotate(-40deg);}
        50% {transform: rotate(40deg);}
        100% {transform: rotate(-40deg);}
    }
    
    @keyframes dance-e {
        0% {transform: rotate(30deg);}
        50% {transform: rotate(-30deg);}
        100% {transform: rotate(30deg);}
    }
    
    @keyframes dance-l {
        0% {transform: rotate(-47deg);}
        50% {transform: rotate(47deg);}
        100% {transform: rotate(-47deg);}
    }
    
    @keyframes dance-c {
        0% {transform: rotate(20deg);}
        50% {transform: rotate(-20deg);}
        100% {transform: rotate(20deg);}
    }
    
    @keyframes dance-o {
        0% {transform: rotate(-37deg);}
        50% {transform: rotate(37deg);}
        10% {transform: rotate(-37deg);}
    }
    
    @keyframes dance-m {
        0% {transform: rotate(43deg);}
        50% {transform: rotate(-43deg);}
        100% {transform: rotate(43deg);}
    }
    
    @keyframes dance-e2 {
        0% {transform: rotate(-38deg);}
        50% {transform: rotate(38deg);}
        100% {transform: rotate(-38deg);}
    }
    
    /* I AM REDOING!!!! LOOK AT SKETCH IN NOTEBOOK!!! */
     .sections{
        width: 45vh;
        height: 50vw;
        font-size: 5vw;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: none;
        color:  #BEA2C2;
        margin-left: 6vw;
        margin-top: 65vh;
        background-color: #270029;
        text-align: center;
        border-radius: 5vh;
        
    }
    #title{
        margin-top: -7vh;
    }
    
    .interactive , .interactive:active , .interactive:link , .interactive:visited{
        font-size: 4vw;
        font-weight: 100;
        /* width: 17vw;
        height: 6vh; */
        text-align: center;
        /* margin-left: 3.5vw; */
        margin-top: .5vh;
        color:  #BEA2C2;
        /* background-color: green; */
        text-decoration: none;
        /* margin-top: 15vh;
        margin-left: 2vw; */
        /* z-index: 0;  */
    }
    
    /* #title{
        margin-top: 5vh;
    } */
    
    
    .toys , .toys:link , .toys:visited , .toys:active {
        font-size: 4vw;
        font-weight: 100;
        margin-top: .5vw;
        text-decoration: none;
        /* width: 17vw;
        height: 6vh; */
        /* background-color: green; */
        color:  #BEA2C2;
        /* margin-top: 22vh;
        margin-left: 35vw; */
        text-align: center;
    }
    
    .editorial , .editorial:link , .editorial:visited , .editorial:active {
        font-size: 4vw;
        font-weight: 100;
        margin-top: .5vw;
        text-decoration: none;
        /* width: 17vw;
        height: 6vh; */
        /* margin-left: 1.5vw; */
        /* background-color: green; */
        color:  #BEA2C2;
        /* margin-top: 22vh;
        margin-left: 15vw; */
        text-align: center;
    }
    
    .about , .about:link , .about:visited , .about:active{
        font-size: 4vw;
        font-weight: 100;
        margin-top: .5vw;
        text-decoration: none;
        /* width: 17vw;
        height: 6vh; */
        /* margin-left: 1vw; */
        /* background-color: green; */
        color:  #BEA2C2;
        /* margin-top: 10vh;
        margin-left: 70vw; */
        text-align: center;
    }
    
    /*.wm{
        background-color: aquamarine;
        width: 10vh;
        height: 10vw;
        visibility: hidden;
        cef8e9
    } */
    
    
    .interactive:hover{
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .toys:hover{
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .editorial:hover {
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .about:hover {
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .box{
        width: 45vh;
        height: 85vw;
        display: none;
        margin-left: 1.5vw;
        margin-top: -72vh;
        background-color: #270029;
        border-radius: 5vh;
    }
    
    .photo{
        position: absolute;
        width: 38vh;
        height: 82vw;
        margin-left: 7.2vw;
        margin-top: 1vh;
        /* padding-top: 13vh;
        padding-bottom: 13vh; */
        /* background-color: #BEA2C2; */
        border-radius: 5vh;
    }

    #photo-1{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .photo2{
        position: absolute;
        visibility: hidden;
        width: 38vh;
        height: 82vw; 
        margin-left: 7.2vw;
        margin-top: 1vh;
        /* padding-top: 13vh;
        padding-bottom: 13vh; */
        /* background-color: #BEA2C2; */
        border-radius: 5vh;
    }
    
    #photo-2{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .photo3{
        position: absolute;
        visibility: hidden;
        width: 30vh;
        height: 75vw;
        margin-left: 7.2vw;
        margin-top: 1vh;
        /* padding-top: 13vh;
        padding-bottom: 13vh; */
        /* background-color: #BEA2C2; */
        border-radius: 5vh;
    }
    
    #photo-3{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .photo4{
        visibility: hidden;
        position: absolute;
        width: 38vh;
        height: 82vw; 
        margin-left: 7.2vw;
        margin-top: 1vh;
        /* padding-top: 13vh;
        padding-bottom: 13vh; */
        /* background-color: #BEA2C2; */
        border-radius: 5vh;
    }

    #photo-4{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .photo5{
        visibility: hidden;
        position: absolute;
        width: 38vh;
        height: 82vw;
        margin-left: 7.2vw;
        margin-top: 1vh;
        /* padding-top: 13vh;
        padding-bottom: 13vh; */
        /* background-color: #BEA2C2; */
        border-radius: 5vh;
    }

    #photo-5{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .box:hover{
        background-color: #BEA2C2;
    }
    /* you have to do media queries now T-T only for mobile and maybe tablet! should be okay for any desktop!! */
		}

/* you have to do media queries now T-T only for mobile and maybe tablet! should be okay for any desktop!! */

@media only screen and (min-width: 1690px) {
    body{
        background-color: #FFF3DA;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    /* pervious colors used:
    dark purple:330036
    light blue:B9F0E9
    light purple:BEA2C2*/
    .intro{
        font-family: 'Hammersmith One', sans-serif;
        color: #270029;
    }
    
    .welcome{
        font-size: 10vw;
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        margin-left: 3.5vw;
        margin-right: 5vw;
        margin-top: 23vh;
        /* height: 25%;
        width: 25%; 
        left: 50;
        top: 50;
         position: absolute; */
    }
    
    #w {
        transform: rotate(-40deg);
        /* color: #FFA0AC; */
        }
    #e {
        transform: rotate(30deg);
        /* color: #506C64; */
        }
    #l {
        transform: rotate(-47deg);
        /* color: #FFA0AC; */
        }
    #c {
        transform: rotate(20deg);
        /* color: #506C64; */
        }
    #o {
        transform: rotate(-33deg);
        /* color: #FFA0AC; */
        }
    #m {
        transform: rotate(43deg);
        /* color: #506C64; */
        }
    #e2 {
        transform: rotate(-38deg);
        /* color: #FFA0AC; */
        }
    
    #to{
        font-size: 2vw;
        margin-left: 50vw;
        color: #270029;
    
    }
    
    #sham{
        font-size: 6.5vw;
        margin-left: 18vw;
        color: #270029;
    }
    
    #w{
        animation-name: dance-w;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #e{
        animation-name: dance-e;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #l{
        animation-name: dance-l;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #c{
        animation-name: dance-c;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #o{
        animation-name: dance-o;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #m{
        animation-name: dance-m;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    #e2{
        animation-name: dance-e2;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
    
    @keyframes dance-w {
        0% {transform: rotate(-40deg);}
        50% {transform: rotate(40deg);}
        100% {transform: rotate(-40deg);}
    }
    
    @keyframes dance-e {
        0% {transform: rotate(30deg);}
        50% {transform: rotate(-30deg);}
        100% {transform: rotate(30deg);}
    }
    
    @keyframes dance-l {
        0% {transform: rotate(-47deg);}
        50% {transform: rotate(47deg);}
        100% {transform: rotate(-47deg);}
    }
    
    @keyframes dance-c {
        0% {transform: rotate(20deg);}
        50% {transform: rotate(-20deg);}
        100% {transform: rotate(20deg);}
    }
    
    @keyframes dance-o {
        0% {transform: rotate(-37deg);}
        50% {transform: rotate(37deg);}
        10% {transform: rotate(-37deg);}
    }
    
    @keyframes dance-m {
        0% {transform: rotate(43deg);}
        50% {transform: rotate(-43deg);}
        100% {transform: rotate(43deg);}
    }
    
    @keyframes dance-e2 {
        0% {transform: rotate(-38deg);}
        50% {transform: rotate(38deg);}
        100% {transform: rotate(-38deg);}
    }
    
    /* I AM REDOING!!!! LOOK AT SKETCH IN NOTEBOOK!!! */
     .sections{
        width: 55vh;
        height: 27vw;
        font-size: 2vw;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: none;
        color:  #BEA2C2;
        margin-left: 20vw;
        margin-top: 24vh;
        background-color: #270029;
        text-align: center;
        border-radius: 5vh;
        
    }
    
    .interactive , .interactive:active , .interactive:link , .interactive:visited{
        font-size: 1.9vw;
        font-weight: 100;
        /* width: 17vw;
        height: 6vh; */
        text-align: center;
        /* margin-left: 3.5vw; */
        margin-top: 2.7vh;
        color:  #BEA2C2;
        /* background-color: green; */
        text-decoration: none;
        /* margin-top: 15vh;
        margin-left: 2vw; */
        /* z-index: 0;  */
    }
    
    /* #title{
        margin-top: 5vh;
    } */
    
    
    .toys , .toys:link , .toys:visited , .toys:active {
        font-size: 1.9vw;
        font-weight: 100;
        margin-top: .5vw;
        text-decoration: none;
        /* width: 17vw;
        height: 6vh; */
        /* background-color: green; */
        color:  #BEA2C2;
        /* margin-top: 22vh;
        margin-left: 35vw; */
        text-align: center;
    }
    
    .editorial , .editorial:link , .editorial:visited , .editorial:active {
        font-size: 1.9vw;
        font-weight: 100;
        margin-top: .5vw;
        text-decoration: none;
        /* width: 17vw;
        height: 6vh; */
        /* margin-left: 1.5vw; */
        /* background-color: green; */
        color:  #BEA2C2;
        /* margin-top: 22vh;
        margin-left: 15vw; */
        text-align: center;
    }
    
    .about , .about:link , .about:visited , .about:active{
        font-size: 1.9vw;
        font-weight: 100;
        margin-top: .5vw;
        text-decoration: none;
        /* width: 17vw;
        height: 6vh; */
        /* margin-left: 1vw; */
        /* background-color: green; */
        color:  #BEA2C2;
        /* margin-top: 10vh;
        margin-left: 70vw; */
        text-align: center;
    }
    
    /*.wm{
        background-color: aquamarine;
        width: 10vh;
        height: 10vw;
        visibility: hidden;
        cef8e9
    } */
    
    
    .interactive:hover{
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .toys:hover{
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .editorial:hover {
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .about:hover {
        color: #270029;
        background-color: #BEA2C2;
    }
    
    .box{
        width: 55vh;
        height: 27vw;
        display: none;
        margin-left: 34vw;
        margin-top: -38vh;
        background-color: #270029;
        border-radius: 5vh;
    }
    
    .photo{
        position: absolute;
        width: 50vh;
        height: 26vw;
        display: none; 
        margin-left: 1.5vw;
        margin-top: 0.7vh;
        /* background-color: #BEA2C2; */
        border-radius: 5vh;
    }
    
    #photo-1{
        width: 100%;
        height: 100%;
        /* border-radius: 5vh; */
        object-fit: contain;
    }
    
    .box:hover{
        background-color: #BEA2C2;
    }
    
}