body{
    background-color: #cef8e9;
    overflow-y: hidden;
}

.back{
    width: 50px;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 4vh;
}

#back{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projects{
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    display: flex;
}

.project-1{
    /* width:90%; */
    margin-left: 3vw;
    margin-top: -4.1vh;
}

#project-1-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-1-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}                  

.project-2{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-2-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-2-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}

.project-3{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-3-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-3-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}
.project-4{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-4-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-4-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}

.project-5{
    width:90%;
    margin-left: 2vw;
    margin-top: -4.1vh;
}

#project-5-title{
    color: #330036;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}

.project-5-content{
    background-color: #330036;
    color:  #BEA2C2;
    font-family: 'K2D', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    height:700px;
    width: 80vw;
    border-radius: 3vh;
    margin-right: 5vw;
    padding: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    overflow: auto;
}
/* 
.p1-images{
    display: inline-flex;
}

.p2-images{
    display: inline-flex;
}

.p3-images{
    display: inline-flex;
}

.p4-images{
    display: inline-flex;
}

.p5-images{
    display: inline-flex;
} */

.sprout-1{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#sprout-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.sprout-2{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#sprout-2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.wtw-1{
    width: 1200px;
    height: 800px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#wtw-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.wtw-2{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#wtw-2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.munit-1{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#munit-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.munit-2{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#munit-2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.munit-3{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#munit-3{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gg-1{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#gg-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gg-2{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#gg-2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gg-3{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#gg-3{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gg-4{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#gg-4{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gd-1{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#gd-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.nwt-1{
    width: 900px;
    height: 900px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#nwt-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gd-nwt-1{
    width: 900px;
    height: 900px;
    /* top: 4vh;
    left: 20vw; */
}

#gd-nwt-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.rd-1{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#rd-1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.nwt-2{
    width: 1200px;
    height: 750px;
    margin-top: 2vh;
    margin-left: 4vw;
}

#nwt-2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
/* and (orientation: portrait)   */
{
	body{
        background-color: #cef8e9;
        overflow-y: hidden;
    }
    
    .back{
        width: 50px;
        height: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 4vh;
    }
    
    #back{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .projects{
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: flex;
    }
    
    .project-1{
        /* width:90%; */
        margin-left: 6.5vw;
        margin-top: -3.5vh;
    }
    
    #project-1-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-1-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }                  
    
    .project-2{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-2-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-2-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-3{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-3-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-3-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    .project-4{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-4-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-4-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-5{
        width:90%;
        margin-left: 2vw;
        margin-top: -3.5vh;
    }
    
    #project-5-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .project-5-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2vw;
        height:700px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }

    .sprout-1{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #sprout-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .sprout-2{
        width: 1200px;
        height: 750px;
        margin-top: 5vh;
        margin-left: 4vw;
    }
    
    #sprout-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .wtw-1{
        width: 1200px;
        height: 800px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #wtw-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .wtw-2{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #wtw-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .munit-1{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #munit-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .munit-2{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #munit-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .munit-3{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #munit-3{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-1{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #gg-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-2{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #gg-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-3{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #gg-3{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-4{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #gg-4{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gd-1{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #gd-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .nwt-1{
        width: 900px;
        height: 900px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #nwt-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gd-nwt-1{
        width: 900px;
        height: 900px;
        /* top: 4vh;
        left: 20vw; */
    }
    
    #gd-nwt-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .rd-1{
        width: 1200px;
        height: 750px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #rd-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
	}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) {
	body{
        background-color: #cef8e9;
        overflow-y: hidden;
    }
    
    .back{
        width: 60px;
        height: 60px;
        position: -webkit-sticky;
        position: sticky;
        top: 5.5vh;
        left: 2vw;
    }
    
    #back{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .projects{
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: flex;
    }
    
    .project-1{
        /* width:90%; */
        margin-left: 8.7vw;
        margin-top: 1vh;
    }
    
    #project-1-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-1-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }                  
    
    .project-2{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-2-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-2-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-3{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-3-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-3-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    .project-4{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-4-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-4-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-5{
        width:90%;
        margin-left: 2vw;
        margin-top: 1vh;
    }
    
    #project-5-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }
    
    .project-5-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 2.7vw;
        height:1300px;
        width: 78vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }

     .sprout-1{
       width: 700px;
       height: 475px;
       margin-top: 2vh;
       margin-left: 4vw;
    }
        
    #sprout-1{
       width: 100%;
       height: 100%;
      object-fit: fill;
    }
        
    .sprout-2{
        width: 700px;
       height: 475px;
       margin-top: 2vh;
       margin-left: 4vw;
        }
        
    #sprout-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .wtw-1{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #wtw-1{
       width: 100%;
       height: 100%;
       object-fit: fill;
    }
        
    .wtw-2{
       width: 700px;
       height: 475px;
       margin-top: 2vh;
       margin-left: 4vw;
    }
        
    #wtw-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .munit-1{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #munit-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .munit-2{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #munit-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .munit-3{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #munit-3{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .gg-1{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #gg-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .gg-2{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #gg-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .gg-3{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #gg-3{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .gg-4{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #gg-4{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .gd-1{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #gd-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .nwt-1{
        width: 900px;
        height: 900px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #nwt-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .gd-nwt-1{
        width: 900px;
        height: 900px;
        /* top: 4vh;
        left: 20vw; */
    }
        
    #gd-nwt-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .rd-1{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
        
    #rd-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .nwt-2{
        width: 700px;
        height: 475px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #nwt-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

@media only screen and (min-width: 1690px) {
    body{
        background-color: #cef8e9;
        overflow-y: hidden;
    }
    
    .back{
        width: 50px;
        height: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 4vh;
    }
    
    #back{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .projects{
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        display: flex;
    }
    
    .project-1{
        /* width:90%; */
        margin-left: 3vw;
        margin-top: -4.1vh;
    }
    
    #project-1-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
    }
    
    .project-1-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        height:1000px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }                  
    
    .project-2{
        width:90%;
        margin-left: 2vw;
        margin-top: -4.1vh;
    }
    
    #project-2-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
    }
    
    .project-2-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        height:1000px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-3{
        width:90%;
        margin-left: 2vw;
        margin-top: -4.1vh;
    }
    
    #project-3-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
    }
    
    .project-3-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        height:1000px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    .project-4{
        width:90%;
        margin-left: 2vw;
        margin-top: -4.1vh;
    }
    
    #project-4-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
    }
    
    .project-4-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        height:1000px;
        width: 80vw;
        border-radius: 3vh;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    
    .project-5{
        width:90%;
        margin-left: 2vw;
        margin-top: -4.1vh;
    }
    
    #project-5-title{
        color: #330036;
        font-family: 'K2D', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
    }
    
    .project-5-content{
        background-color: #330036;
        color:  #BEA2C2;
        font-family: 'K2D', sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        height:1000px;
        width: 80vw;
        border-radius: 3vh;
        margin-right: 10vw;
        padding: 2.5vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: justify;
        overflow: auto;
    }
    /* 
    .p1-images{
        display: inline-flex;
    }
    
    .p2-images{
        display: inline-flex;
    }
    
    .p3-images{
        display: inline-flex;
    }
    
    .p4-images{
        display: inline-flex;
    }
    
    .p5-images{
        display: inline-flex;
    } */
    
    .sprout-1{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #sprout-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .sprout-2{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #sprout-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .wtw-1{
        width: 1500px;
        height: 900px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #wtw-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .wtw-2{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #wtw-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .munit-1{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #munit-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .munit-2{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #munit-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .munit-3{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #munit-3{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-1{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #gg-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-2{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #gg-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-3{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #gg-3{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gg-4{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #gg-4{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gd-1{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #gd-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .nwt-1{
        width: 900px;
        height: 900px;
        margin-top: 2vh;
        margin-left: 4vw;
    }
    
    #nwt-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .gd-nwt-1{
        width: 900px;
        height: 900px;
        /* top: 4vh;
        left: 20vw; */
    }
    
    #gd-nwt-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .rd-1{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #rd-1{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .nwt-2{
        width: 1500px;
        height: 950px;
        margin-top: 2vh;
        margin-left: 8vw;
    }
    
    #nwt-2{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
}

/* media queries!!!!! */